<div class="panel panel-default">
  <div class="panel-heading">
    {{title}}
  </div>
  <div class="col-md-12" style="margin-top: 20px;">
    <form novalidate [formGroup]="operatorForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" formControlName="country">
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary" [disabled]="!operatorForm.valid">Submit</button>
      <button type="button" class="btn btn-warning" (click)="redirectOperatorPage()">Cancel</button>
    </form>
  </div>